:root {
  --error: rgba(235, 40, 40, 1);
}

.form-error {
  font-size: 12px;
  color: var(--error);
  font-weight: 600;
  letter-spacing: 0.02em;
}

.storage-items-car-bg {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.app-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
