:root {
  --dark: rgba(0, 0, 0, 1);
  --error: rgba(235, 40, 40, 1);
  --grey: rgb(61, 105, 115, 1);
}

.font-black-24-bold {
  font-size: 24px;
  color: var(--dark);
  font-weight: 800;
  letter-spacing: 0.04em;
}

.form-error {
  font-size: 12px;
  color: var(--error);
  font-weight: 600;
  letter-spacing: 0.02em;
}

.otp-caption-font {
  font-size: 12px;
  color: var(--grey);
  font-weight: 700;
  letter-spacing: 0.02em;
}

label {
  font-size: 14px;
  color: var(--dark);
  font-weight: 400;
}

input {
  border: 1px solid var(--dark);
}
